@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
}

.sidebar {
  background-color: #4ea1d3;
  color: white;
  padding: 1rem;
}

.logo-text {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

.icon-text {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 700;
}

.list-items-bottom {
  margin-top: 3rem;
}

.main {
  display: grid;
  grid-template-rows: 1fr 4fr;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.welcome {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.btn {
  background-color: #4ea1d3;
  border: 1px solid #4ea1d3;
  border-radius: 25px;
  font-weight: 700;
  padding: 0.5rem 1rem;
  color: white;
  text-align: center;
}

.form-input {
  width: 100%;
  background-color: #d8e9ef;
  border-radius: 10px;
  border: 1px solid #d8e9ef;
  height: 2rem;
  padding: 0.5rem;
}

.content {
  display: grid;
  grid-template-columns: 7fr 3fr;
  background-color: #d8e9ef;
  gap: 1rem;
  padding: 1rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.card {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: white;
  border-left: 5px solid #e85a71;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.ann-trend {
    display: flex;
    flex-direction: column;
  }

.ann-card,
.trend-card {
  background-color: white;
  border-radius: 10px;
  padding: 0.5rem;
  display: grid;
  grid-gap: 0.4rem;
  grid-template-rows: repeat(auto-fit, minmax(40px, 1fr));
}

.trend-image-text {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* SVG and IMG Styles */
svg {
  width: 2rem;
  fill: white;
}

.navbar svg {
    fill: black;
    margin-right: 1rem;
    margin-left: 3rem;
}
    
.project svg {
    fill: black;
}

.icons svg {
    margin-top:0.5rem; 
    width: 1.5rem;
}

.logo-text svg{
    width: 3rem;
}
    
.navbar img {
    height: 3rem;
    background-color: #e85a71;
    border-radius: 50%;
    margin-right: 1rem;
}
    
.left img {
    height: 5rem;
    background-color: #e85a71;
    border-radius: 50%;
    margin-right: 1rem;
}
    
.trend-image-text img {
    width: 2rem;
    margin-right: 1rem;
}
    
img[src="images/1.svg"] {
    background-color: violet;
    border-radius: 50%;
}
    
img[src="images/2.svg"] {
    background-color: green;
    border-radius: 50%;
}
    
img[src="images/3.svg"] {
    background-color: orange;
    border-radius: 50%;
}
    
img[src="images/4.svg"] {
    background-color: lightblue;
    border-radius: 50%;
}
    
/* Text Styles */
.icon-text p{
    display: flex;
    align-items: center;
    font-size: 16px;
}

.logo-text h1 {
    font-size: 20px;
}
    
.project h3,
.ann h3 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.trend h3 {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}
    
.card p,
.ann-text p,
.trend-text p {
    color: #454552;
    font-size: 14px;
}
    
.ann-text h6 {
    font-size: 16px;
}
    
/* Divider */
.divider {
    border: 0.5px solid #454552;
    width: 75%;
}
    
.divider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


